@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  margin: 0;
  margin-top: 5rem;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar {
  padding: 0.5rem 1.5rem 0rem 1.5rem;
  background-color: white;
  border-bottom-left-radius: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;

  a,
  li {
    vertical-align: center;
    text-align: center;
  }

  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
}

.navbar-left,
.navbar-right {
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 1rem;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: none;
}

.hamburger-menu-button {
  display: flex;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;

  a,
  li:first-child {
    margin-top: 1rem;
  }

  a,
  li {
    vertical-align: center;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
  }
}

.navbutton,
.navbutton-selected {
  position: relative;
  padding: 0.5rem;
  text-align: center;
  color: rgb(203, 55, 203);
  border-radius: 15px 15px 0px 0px;
}

.navbutton-selected {
  background-color: rgb(224, 224, 224);
}

#underline {
  position: absolute;
  display: inline;
  border-bottom: 2px;
  border-bottom-style: var(--tw-border-style);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  gap: 1rem;

  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

.intro img {
  aspect-ratio: 1;
  border-radius: 25px;
  width: 20rem;
  height: 20rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.about {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.page-transition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  width: 75%;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e8ff;
  border-radius: 0.35rem;
  padding: 1.5rem;
  gap: 1rem;
  z-index: 0;
  max-width: 15rem;
  max-height: 17.5rem;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.35rem;
  }
}

.fade-in {
  position: fixed;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.project-page {
  position: fixed;

  top: 50%;
  left: 50%;

  width: 75%;
  height: 75%;

  border-radius: 0.35rem;
  padding: 5rem;

  overflow-y: auto;
  background-color: #f3e8ff;
  z-index: 6;
}

.project-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 3rem;
  min-height: 100%;
}

.project-page-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.project-page-img {
  width: auto;
  height: 100%;
  border-radius: 1rem;
}

/* Medium */
@media (min-width: 768px) {
  .navbar-right {
    display: flex;
  }

  .hamburger-menu-button {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;

    img {
      width: 15rem;
      height: 15rem;
      object-fit: contain;
    }
  }

  .project-page {
    position: fixed;

    width: 75%;
    height: 80%;

    border-radius: 0.35rem;
    padding: 5rem;

    overflow-x: hidden;
    overflow-y: hidden;
  }

  .project-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    gap: 3rem;
    min-height: 100%;
  }

  .project-page-img {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
  }
}
